<a href="https://colab.research.google.com/github/meisam210905/Sani/blob/main/pima_indians_diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing required libraries**

In [ ]:
import numpy as np
import pandas as pd

**Importing data from Google Drive**

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
data = pd.read_csv('/content/gdrive/My Drive/Datasets/pima-indians-diabetes.csv')

**Head of data**

In [ ]:
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

**Importing names of column**

In [ ]:
data = pd.read_csv('/content/gdrive/My Drive/Datasets/pima-indians-diabetes.csv', names = ['preg', 'gluc', 'pres', 'skin', 'test', 'bmi', 'pedi', 'age', 'class'])
data.head()

   preg  gluc  pres  skin  test   bmi   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

**Look for missing data**

In [ ]:
data.isnull().sum()

preg     0
gluc     0
pres     0
skin     0
test     0
bmi      0
pedi     0
age      0
class    0
dtype: int64

**Look for NaN data**

In [ ]:
data.isna().sum()

preg     0
gluc     0
pres     0
skin     0
test     0
bmi      0
pedi     0
age      0
class    0
dtype: int64

# **But with some accuracy, we encounter data, such as skin thickness, whose value cannot be zero.**

In [ ]:
skines = data[data['skin'] == 0]
skines

     preg  gluc  pres  skin  test   bmi   pedi  age  class
2       8   183    64     0     0  23.3  0.672   32      1
5       5   116    74     0     0  25.6  0.201   30      0
7      10   115     0     0     0  35.3  0.134   29      0
9       8   125    96     0     0   0.0  0.232   54      1
10      4   110    92     0     0  37.6  0.191   30      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
757     0   123    72     0     0  36.3  0.258   52      1
758     1   106    76     0     0  37.5  0.197   26      0
759     6   190    92     0     0  35.5  0.278   66      1
762     9    89    62     0     0  22.5  0.142   33      0
766     1   126    60     0     0  30.1  0.349   47      1

[227 rows x 9 columns]

In [ ]:
data['skin'].mean()

20.536458333333332

**We replace the data value of the skin column that has zero value with the Mean.**

**Since the zero data is also calculated when acquiring the Mean value, we recalculate the Mean value without taking the zero data into calculate.**

In [ ]:
data[data['skin'] != 0]['skin'].mean()

29.153419593345657

 ""20.536458333333332""
"The value with considering zero data"

**Replace the mean value of skin with zero data.**

In [ ]:
skin_mean = data[data['skin'] != 0]['skin'].mean()
data.replace({'skin' : 0}, skin_mean, inplace=True)

In [ ]:
data

     preg  gluc  pres      skin  test   bmi   pedi  age  class
0       6   148    72  35.00000     0  33.6  0.627   50      1
1       1    85    66  29.00000     0  26.6  0.351   31      0
2       8   183    64  29.15342     0  23.3  0.672   32      1
3       1    89    66  23.00000    94  28.1  0.167   21      0
4       0   137    40  35.00000   168  43.1  2.288   33      1
..    ...   ...   ...       ...   ...   ...    ...  ...    ...
763    10   101    76  48.00000   180  32.9  0.171   63      0
764     2   122    70  27.00000     0  36.8  0.340   27      0
765     5   121    72  23.00000   112  26.2  0.245   30      0
766     1   126    60  29.15342     0  30.1  0.349   47      1
767     1    93    70  31.00000     0  30.4  0.315   23      0

[768 rows x 9 columns]

**Similarly, we perform on the test column.**

In [ ]:
test_mean = data[data['test'] != 0]['test'].mean()
test_mean

155.5482233502538

In [ ]:
data.replace({'test' : 0}, test_mean, inplace=True)
data

     preg  gluc  pres      skin        test   bmi   pedi  age  class
0       6   148    72  35.00000  155.548223  33.6  0.627   50      1
1       1    85    66  29.00000  155.548223  26.6  0.351   31      0
2       8   183    64  29.15342  155.548223  23.3  0.672   32      1
3       1    89    66  23.00000   94.000000  28.1  0.167   21      0
4       0   137    40  35.00000  168.000000  43.1  2.288   33      1
..    ...   ...   ...       ...         ...   ...    ...  ...    ...
763    10   101    76  48.00000  180.000000  32.9  0.171   63      0
764     2   122    70  27.00000  155.548223  36.8  0.340   27      0
765     5   121    72  23.00000  112.000000  26.2  0.245   30      0
766     1   126    60  29.15342  155.548223  30.1  0.349   47      1
767     1    93    70  31.00000  155.548223  30.4  0.315   23      0

[768 rows x 9 columns]

**Now we'll use the "K nearest neighbour" method to value the skin and test columns, which has zero values based on Euclidean space distance and with rows whose values are not zero.**

In [ ]:
data = pd.read_csv('/content/gdrive/My Drive/Datasets/pima-indians-diabetes.csv', names = ['preg', 'gluc', 'pres', 'skin', 'test', 'bmi', 'pedi', 'age', 'class'])
data.head()

   preg  gluc  pres  skin  test   bmi   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

**Now we should change 0 values to Np.NAN to use the "K nearest neighbor"**

In [ ]:
data.replace({'test' : 0, 'skin' : 0}, np.nan, inplace=True)

In [ ]:
data

     preg  gluc  pres  skin   test   bmi   pedi  age  class
0       6   148    72  35.0    NaN  33.6  0.627   50      1
1       1    85    66  29.0    NaN  26.6  0.351   31      0
2       8   183    64   NaN    NaN  23.3  0.672   32      1
3       1    89    66  23.0   94.0  28.1  0.167   21      0
4       0   137    40  35.0  168.0  43.1  2.288   33      1
..    ...   ...   ...   ...    ...   ...    ...  ...    ...
763    10   101    76  48.0  180.0  32.9  0.171   63      0
764     2   122    70  27.0    NaN  36.8  0.340   27      0
765     5   121    72  23.0  112.0  26.2  0.245   30      0
766     1   126    60   NaN    NaN  30.1  0.349   47      1
767     1    93    70  31.0    NaN  30.4  0.315   23      0

[768 rows x 9 columns]

In [ ]:
from sklearn.impute import KNNImputer

In [ ]:
imputer = KNNImputer(n_neighbors=3)
data = imputer.fit_transform(data)
data

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [ ]:
import sys
np.set_printoptions(threshold=sys.maxsize)

In [ ]:
print(data)

To increase the accuracy of machine learning and data analysis, it is better to separate the last column, which is the dependent variable, from the independent variables.

**Now we are going to use "MinMax Scaler" method.**

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
data = scaler.fit_transform(data)
data

**and we can use "Standard Score" method.**

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data = scaler.fit_transform(data)
data

# And since I'm sure everyone is familiar with coding, it is the responsibility of the data analyst to try various methodologies in order to achieve a more accurate analysis.